<footer class="container-fluid p-4 shadow-no-hover bg-dark text-light">
    <div class="ps-3 p-2 text-center">
        <p class="fw-bold m-0">where to find me</p>
    </div>

    <div class="d-flex flex-row w-100 justify-content-center">
        <a href="https://example.com/" target="_blank" class="text-light f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-github-square"></i>
        </a>

        <a href="https://example.com/" target="_blank" class="text-light f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-linkedin"></i>
        </a>

    </div>
</footer>
