@page "/blog"
@using Client.Components.Public.Blog

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 p-5">
    <div class="row">
        <div class="col">
            <h1 class="my-3">blog</h1>
            <p>click on a post to read more</p>
            <div class="row">
                <div class="col-md-4">
                    <CategoryCard />
                </div>
                <div class="col-md-4">
                   <CategoryCard />
                </div>
                <div class="col-md-4">
                   <CategoryCard />
                </div>
            </div>
        </div>
    </div>
</main>


<Client.Components.Public.Shared.Footer />


