
    <div class="card shadow mb-2">
        <img src="assets/img/other/placeholder.jpg" class="card-img-top" alt="category thumbnail img" />
        <div class="card-body">
            <h3 class="card-title">title</h3>
            <p class="card-text">description</p>
        </div>
        <a href="/" class="btn btn-primary stretched-link">read more</a>
    </div>

